<!-- <div class="headerContainer">
  <h1>Menu</h1>

  <div class="authButtons">

    <button class="cartButton" (click)="goToCart()">Go To Cart</button>

    @if(isUserAuthenticated()){
    <button (click)="logout()" class="logoutButton">Logout</button>
    } @else {
    <button (click)="login()" class="loginButton">Login</button>
    }
  </div>
</div> -->

@for (item of manageDataService.selectedItemQuantityDataList(); track item.itemId) {


<div class="card">

  <div class="cardHeader">
    <div>
      <h2>{{item.name}}</h2>
    </div>
    <div>
      <label for="parcel"> Is Parcel</label>
      <input type="checkbox" (click)="isParcel(item.itemId)" [value]="item.isParcel"
        [checked]="(item.isParcel) ? true : null">
    </div>
  </div>
  <hr>

  <div class="cardBody">
    <img src="assets/chinna-punugu.png" alt="ChinnaPunugulu" style="width:45%; height:300px">
    <div>
      @if (item.singlePiecePrice) {
      <p>piece price = @if (item.singlePiecePrice) { {{item.singlePiecePrice}} rs}@else {"N/A"}</p>

      <div class="piece-quantity-input">
        @if (item.singlePiecePrice) {
        <button class="piece-minus-btn" type="button" name="pieceMinus"
          (click)="decreasePieceQuantity(item.itemId)">-</button>
        <input class="piece-input-box" type="number" [value]="item.selectedPieceQuantity" min="1" style="width:10%"
          readonly>
        <button class="piece-plus-btn" type="button" name="piecePlus"
          (click)="increasePieceQuantity(item.itemId)">+</button>
        }@else {
        <button class="piece-minus-btn" type="button" name="pieceMinus" (click)="decreasePieceQuantity(item.itemId)"
          disabled>-</button>
        <input class="piece-input-box" type="number" [value]="item.selectedPieceQuantity" min="1" style="width:10%"
          readonly>
        <button class="piece-plus-btn" type="button" name="piecePlus" (click)="increasePieceQuantity(item.itemId)"
          disabled>+</button>
        }
      </div>
      

      <p>Total piece(s) price = {{item.selectedTotalPiecePrice}} rs/-</p>
      <hr>
       }
      
      @if(item.quantityPerPlate){
      <p>Quantity per plate = {{item.quantityPerPlate}}/-</p>
      }
      <p>One plate price = {{item.platePrice}} rs/- </p>
      <div class="plate-quantity-input">
        <button class="plate-minus-btn" type="button" name="plateMinus"
          (click)="decreasePlateQuantity(item.itemId)">-</button>
        <input class="plate-input-box" type="number" [value]="item.selectedPlateQuantity" min="1" style="width:10%"
          readonly>
        <button class="plate-plus-btn" type="button" name="platePlus"
          (click)="increasePlateQuantity(item.itemId)">+</button>
      </div>
      <p>Total plate(s) price = {{item.selectedTotalPlatePrice}} rs/-</p>
    </div>
  </div>
 <hr>
  <div class="cardFooter">
      <div>
        <h3>Total item price = {{item.selectedTotalItemPrice}} rs/- </h3>
      </div>
      <div>
        <button (click)="addToCart(item.itemId)">Add To Cart</button>
      </div>
  </div>


</div>

}@empty {
<p>No items found</p>
}