<h1>Menu Items</h1>
@for (item of manageDataService.selectedItemQuantityDataList(); track item.itemId) {

  <div class="flex-container">
    <div class="flex-item">{{item.name}}</div>
    <!-- <div class="flex-item"><hr width="2" size="25" style="margin: 0 auto;" /></div> -->
    <div class="flex-item">One pice price = @if (item.singlePiecePrice) {{{item.singlePiecePrice}}}@else {"N/A"}</div>
    
    <div class="flex-item">
        <div id="pieceQuantityContainer">
            @if (item.singlePiecePrice) {
                <button (click)="decreasePieceQuantity(item.itemId)" type="button" id="pieceSubtraction" class="pieceSubtraction">-</button>
            <input type="number" id="pieceQuantity" [value]="item.selectedPieceQuantity" class="pieceQuantity" readonly/>
            <button (click)="increasePieceQuantity(item.itemId)" type="button" id="pieceAddition" class="pieceAddition" >+</button>
            }@else {
                <button (click)="decreasePieceQuantity(item.itemId)" type="button" id="pieceSubtraction" class="pieceSubtraction" disabled>-</button>
                <input type="number" id="pieceQuantity" [value]="item.selectedPieceQuantity" class="pieceQuantity" readonly/>
                <button (click)="increasePieceQuantity(item.itemId)" type="button" id="pieceAddition" class="pieceAddition" disabled>+</button>
            }
        </div>
    </div>

    <div class="flex-item">Total pices price = {{item.selectedTotalPiecePrice}}</div>
    <!-- <div class="flex-item"><hr width="2" size="25" style="margin: 0 auto;" /></div> -->

    <div class="flex-item">One plate price = {{item.platePrice}}<br>Quantity per plate = {{item.quantityPerPlate}}</div>

    <div class="flex-item">
        <div id="plateQuantityContainer">
            <button (click)="decreasePlateQuantity(item.itemId)" type="button" id="plateSubtraction" class="plateSubtraction">-</button>
            <input type="number" id="plateQuantity" [value]="item.selectedPlateQuantity" class="plateQuantity" readonly/>
            <button (click)="increasePlateQuantity(item.itemId)" type="button" id="plateAddition" class="plateAddition">+</button>
        </div>
    </div>

    <div class="flex-item">Total plate(s) price = {{item.selectedTotalPlatePrice}} rs</div>
    <div class="flex-item"><input (click)="isParcel(item.itemId)" type="checkbox" [value]="item.isParcel" [checked]="(item.isParcel) ? true : null">Parcel</div>
    <!-- <div class="flex-item"><hr width="2" size="25" style="margin: 0 auto;" /></div> -->
    <div class="flex-item">Total Price = {{item.selectedTotalItemPrice}} rs</div>
    <div class="flex-item"><button (click)="addToCart(item.itemId)">Add To Cart</button></div>

  </div>
  <hr>

}@empty {
    <p>No items found</p>
  }

  <button (click)="goToCart()">Go To Cart</button>